body{
	text-align: center;
}
header{
	text-align: center;
}
nav{
	background-color: #808080;
	font-family: Arial, sans-serif;
}
a{
	background-color: #ffbf00;
	color: white;
	text-decoration: none;
	padding: 35px;
	display: block;
	float: left;
}
h1{
	color: rgb(2,132,130);
}
h2{
	color: #ffd700;
}
p{
	text-align: center;
}
footer{
	clear: both;
	text-align: center;
	background-color: #808080;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
a:hover{
	background-color: #ee5f3c;
}
.board{
	height: 50%;
	width: 50%;
	display: inline-block;
	margin: 8%;
	float: left;
}
.card{
	height: 200px;
	width: 150px;
	border: 1px solid black;
	background-color: yellow;
	border-radius: 10px;
	margin: 8%;
	float: left;
}
#name{
	color: #ff0000;
}
